.cards {
    
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        overflow: hidden;
        padding: 10px;
      
}

.add-delivers {
    padding: 4px;
}


.input-dynamic{
    display: flex;
}


.input-one {
    width: 25%;
    margin: 1rem;
    height: 4rem;
    color: black;
    border-radius: none;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.remove-btn {
    height: 4rem;
    width: 8rem;
    background-color: orangered;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;


}

.button-group {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.add-btn {
    height: 4rem;
    width: 12rem;
    background-color: teal;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}
.save-btn {
    height: 4rem;
    width: 15rem;
    background-color: green;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.title-one{
    color: teal;
}
.title-two{
    color: rgb(100, 128, 0);
}
.check-container{
    margin-left: 1rem;
}
.check{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    margin-left: 1rem;
}
.switch-text{
    color: rgb(197, 128, 0);
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    line-height: 0;    
}

#switch-wrap{
    display: flex;
    justify-content: flex-start;
    

}




.switch {
    margin-top: 8px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .back-button{
    height: 4rem;
    width: 15rem;
    background-color: orange;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }