.containers {
  margin: 0.2rem;
  padding: 0;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  min-height: 80vh;
  border-radius: 1rem;
}

.boxs {
  width: calc(50% - 4rem); /* Adjust the width to take 50% of the container minus margins */
  max-width: 600px; /* Limit maximum width to ensure it doesn't become too wide */
  height: auto; /* Let the height adjust based on content */
  margin: 2rem;
  padding: 0;
}

/* .top-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
} */

.search {
  margin: 0;
  padding: 0;
  width: 100%; /* Take full width */
  max-width: 300px; /* Limit maximum width */
}

/* Upper button style */
.report-btn {
  font-size: 1rem; /* Adjust font size for smaller screens */
  padding: 0.25em 0.5em; /* Adjust padding for smaller buttons */
  background: #fff;
  color: #4a5568;
  border: 0px solid #a0aec0;
  margin: 0.1em;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  box-shadow: 0 0 0 #bee3f8;
  transform: translateY(0);
}

.report-btn-active {
  font-size: 1rem; /* Adjust font size for smaller screens */
  padding: 0.25em 0.5em; /* Adjust padding for smaller buttons */
  background: #47a992;
  color: #fff;
  border: 0px solid #a0aec0;
  margin: 0.1em;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  box-shadow: 0 0 0.8em 0 rgba(213, 63, 140, 0.8);
  transform: translateY(0);
}

.report-btn i {

  transition: all 0.2s ease-out;
}

.report-btn:first-of-type {
  border-radius: 0.5em 0 0 0.5em;
}

.report-btn:last-of-type {
  border-radius: 0 0.5em 0.5em 0;
}

.report-btn i {
  color: #a0aec0;

  transition: all 0.2s ease-out;
}

.multi-button:hover button {
  color: #a0aec0;
}

.multi-button:hover button:hover {
  background: #d53f8c;
  color: #fff;
  box-shadow: 0 0 0.8em 0 rgba(213, 63, 140, 0.8);
  transform: translateY(-0.2em);
}

.multi-button:hover button i {
  color: #cbd5e0;
}

.multi-button:hover button:hover i {
  color: #fed7e2;
  transform: rotate(-10deg);
}


/* Define styles for mobile devices */
